[run]
branch = True
source = pybel-tools
omit =
    src/pybel_tools/__main__.py
    src/pybel_tools/cli.py
    tests/*
    docs/*
    scripts/*

[paths]
source =
    src/pybel_tools
    .tox/*/lib/python*/site-packages/pybel_tools

[report]
show_missing = True
exclude_lines =
    def __str__
    def __repr__
