#########################
# Flake8 Configuration  #
# (.flake8)             #
# (formerly in tox.ini) #
#########################

[flake8]
ignore =
    # docstring in magic method
    D105
    # Line break after operator
    W503
    W504
    # Docstring in __init__
    D107
    # Complaining about assert statements
    S101
    # Complains about random number generators
    S311
    # Complains about XML parser
    S314
    S405
exclude =
    .tox,
    .git,
    __pycache__,
    docs/source/conf.py,
    build,
    dist,
    src/pybel_tools/analysis/epicom/build.py,
    tests/fixtures/*,
    tests/*,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs
max-complexity = 25
max-line-length = 120
import-order-style = pycharm
application-import-names =
    pybel_tools
    pybel_jupyter
    pybel
    bel_resources
    tests
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
